<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background-image: url(../../Content/bg.jpg);">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                @Html.ActionLink("Guitar Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home") </li>
                    <li>@Html.ActionLink("News", "News", "Home")</li>
                    <li>@Html.ActionLink("Catalog", "Categories", "Catalog")</li>
                    <li>@Html.ActionLink("Payment", "Payment", "Home")</li>
                    <li>@Html.ActionLink("Contacts", "Contacts", "Home")</li>
                    <li>@Html.ActionLink("Delivery", "Delivery", "Home")</li>
                    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                </ul>

                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Привет " + @User.Identity.Name, "Index", "Home")</li>
                        <li>@Html.ActionLink(""+Html.Action("GetLoggedUserRole", "Home"), "RoleRedirect", "Home")</li>
                        <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
                    </ul>

                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row ">
            <div>
                <div class="col-lg-2 col-md-2 navbar-left" style="background-color:#d8d8d8">
                   @Html.Action("GetNav","Home")
                </div>
                <div class="col-lg-10 col-md-10" style="background-color:#f8f8f8">
                    @RenderBody()
                </div>
            </div>
        </div>

        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <footer>
                    <p class="navbar-text navbar-left">&copy; @DateTime.Now.Year - Guitar Shop</p>
                    <a class="navbar-text navbar-right" href="https://github.com/AlexeyWasAlreadyTaken/TheGuitarShop/tree/master/Project">OUR GIT</a>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>