
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Catalog", "Categories", "Catalog")</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("News", "News", "Home")</li>
    <li>@Html.ActionLink("Delivery", "Delivery", "Home")</li>
    <li>@Html.ActionLink("Payment", "Payment", "Home")</li>
    <li>@Html.ActionLink("Contacts", "Contacts", "Home")</li>
    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
</ul>


