@model IList<Store.WEB.Models.FilterVM>

  <br>
<h3>Filters</h3>
<table class="table">

    @using (Html.BeginForm("PurposesList", "Catalog", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.Hidden("id", ViewContext.RouteData.Values["id"] ?? Request.Params["id"])
        @Html.Hidden("st", Request.Params["st"])

        for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <b>
                        @Html.DisplayFor(modelItem => Model[i].CharacteristicName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(modelItem => Model[i].CharacteristicId)
                    </b>
                    <br />
                    @for (int j = 0; j < Model[i].ValuesList.Count; j++)
                    {
                        @Html.DisplayFor(iItem => Model[i].ValuesList[j].IntVal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DisplayFor(iItem => Model[i].ValuesList[j].FloatVal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DisplayFor(iItem => Model[i].ValuesList[j].StrVal, new { htmlAttributes = new { @class = "form-control" } })
                        <span>&#160;</span>
                        @Html.CheckBoxFor(iItem => Model[i].ValuesList[j].isApplied, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.HiddenFor(iItem => Model[i].ValuesList[j].Id)
                        @Html.HiddenFor(iItem => Model[i].ValuesList[j].CharacteristicId)
                        <br />
                    }
                </td>
            </tr>
        }
        <tr>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Apply filters" class="btn btn-default" style="background-color:forestgreen; color:white"/>
                    </div>
                </div>
            </td>
        </tr>
    }


  
</table>

<br>
<br>
<br>
<br>

