<br>
<br>
<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Catalog", "Categories", "Catalog")</li>
    <li class="list-group-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="list-group-item">@Html.ActionLink("News", "News", "Home")</li>
    <li class="list-group-item">@Html.ActionLink("Delivery", "Delivery", "Home")</li>
    <li class="list-group-item">@Html.ActionLink("Payment", "Payment", "Home")</li>
    <li class="list-group-item">@Html.ActionLink("Contacts", "Contacts", "Home")</li>
    <li class="list-group-item">@Html.ActionLink("Cart", "Index", "Cart")</li>
</ul>
<br>

