<h4>@Html.ActionLink("Home", "Index", "Home")
@Html.ActionLink("News", "News", "Home")
@Html.ActionLink("Catalog", "Categories", "Catalog")
@Html.ActionLink("Payment", "Payment", "Home")
@Html.ActionLink("Contacts", "Contacts", "Home")
@Html.ActionLink("Delivery", "Delivery", "Home")
@Html.ActionLink("Cart", "Index", "Cart")</h4>
