@model Store.WEB.Models.ConcretePurposeVM

@{
    ViewBag.Title = "GetPurpose";
}

<h2>GetPurpose</h2>

<div>
    <h4>ConcretePurposeVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurposeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurposeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>

    <hr>
    <h3>Characteristics</h3>
    <br>
    @for (int i = 0; i < Model.CharName.Count; i++)
    {
        <b>@Model.CharName[i] :</b> @Model.CharValue[i] <br>
    }
    <br>




</div>
<p>
    @Html.ActionLink("ADD TO CART", "AddPurpose", "Cart", new { purposeId = Model.PurposeID, returnUrl = "" }, null)
</p>