@model IEnumerable<Store.WEB.Models.CartIndexVM>

<p>
    @Html.ActionLink("Clear", "DeleteAll")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurposeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPromo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurposeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.ActionLink("DeleteOne", "DeletePurpose", new { purposeId = item.PurposeId })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Place an order", "Index", "Order", new { }, null)
</p>
