@model GSWA.WebUI.Models.ConcretePurposeVM

@{
    ViewBag.Title = "GetPurpose";
}

<h2>GetPurpose</h2>

<div>
    <h4>ConcretePurposeVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.purposeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purposeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
    <br>


    <hr>
    <h3>Characteristics</h3>
    <br>
    @for (int i = 0; i < Model.charname.Count; i++)
    {
        <b>@Model.charname[i] :</b> @Model.charvalue[i] <br>
    }
    <br>
</div>
<p>
    @Html.ActionLink("ADD TO CART", "AddPurpose", "Cart", new { purposeId = Model.purposeID, returnUrl = "" }, null)
</p>
