@model IEnumerable<GSWA.WebUI.Models.CatalogPurposeVM>

@{
    ViewBag.Title = "PurposesList";
}

<h2>PurposesList</h2>

<p>
    <b>SORT TYPE:</b>
    @Html.ActionLink("ByName", "PurposesList", "Catalog", new { id = Model.ToList().FirstOrDefault().categoryID, st = "ByName" }, null) <span> | </span>
    @Html.ActionLink("ByPrice", "PurposesList", "Catalog", new { id = Model.ToList().FirstOrDefault().categoryID, st = "ByPrice" }, null) <span> | </span>
    @Html.ActionLink("ByBrand", "PurposesList", "Catalog", new { id = Model.ToList().FirstOrDefault().categoryID, st = "ByBrand" }, null)
    <br>
    <b>FILTER TYPE:</b>
    @Html.Action("GetCharList", new { id = Model.ToList().FirstOrDefault().categoryID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.ActionLink("Show details", "GetPurpose", "Purpose", new { id = item.purposeID }, null)
            </td>
        </tr>
    }

</table>
