@model IEnumerable<Store.WEB.Models.CategoryVM>

<p>
    <h1>
        @Html.ActionLink("+", "CreateCategory", "ContentManagerAccount", new { id = Model.FirstOrDefault().ParentCategoryId }, null)
            
         </h1>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.categoryName)*@
                @Html.ActionLink("" + item.CategoryName, "CategoryEditorNavigation", "ContentManagerAccount", new { id = item.CategoryId }, null)
            </td>
            <td>
                @Html.ActionLink("Add sub Category", "CreateCategory", "ContentManagerAccount", new { id = item.CategoryId }, null) |
                @Html.ActionLink("Edit Category","CategoryEditor", "ContentManagerAccount", new { id = item.CategoryId }, null) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
