@model IEnumerable<Store.WEB.Models.CharValueVM>

@{
    ViewBag.Title = "GetCharacteristicsValues";
}

<h2>GetCharacteristicsValues</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    | @Html.ActionLink("+", "CreateCharacteristicValue", "ContentManagerAccount", new { id = Request.Params["CharacteristicId"] }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacteristicId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloatVal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrVal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CharacteristicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloatVal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrVal)
        </td>
        <td>

            @Html.ActionLink("Remove", "DeleteCharacteristicValue", "ContentManagerAccount", new { item.Id }, null)
        </td>
    </tr>
}

</table>
