@model IEnumerable<Store.WEB.Models.CategoryCharacteristicVM>

<p>

    @*@{if (Model.FirstOrDefault() != null)
        {
            @Html.ActionLink("ADD", "CreateCategoryCharacteristic", "ContentManagerAccount", new { categoryID = Model.FirstOrDefault().CategoryID }, null)
        }
        if (Model.FirstOrDefault() == null)
        {*@
            @Html.ActionLink("ADD", "CreateCategoryCharacteristic", "ContentManagerAccount", new { categoryID = ViewContext.RouteData.Values["id"] }, null)
        @*}*@

    @*}*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacteristicName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.CharacteristicName)*@
            @Html.ActionLink( item.CharacteristicName, "EditCategoryCharacteristic", "ContentManagerAccount", new { CharacteristicID = item.CharacteristicID }, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
