@model IEnumerable<Store.WEB.Models.ItemVM>

@{
    ViewBag.Title = "GetItems";
}

@*<h4>Items:</h4>*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufCountryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandCountryID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufCountryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandCountryID)
        </td>*@
        
        <td>
            @Html.ActionLink("Edit item", "EditItem", new { itemId=item.Id }) 
        </td>
        <td>
            @Html.ActionLink("Edit characteristics", "EditItemCharacteristics", new { itemId = item.Id, categoryId = item.CategoryID })
        </td>
    </tr>
}

</table>
