
@model IEnumerable<Store.WEB.Models.UltimatePurposeVM>

@{
    ViewBag.Title = "GetPurposes";
}

@*<h4>Items:</h4>*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurposeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurposeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit purpose", "EditPurpose", new { purposeId = item.PurposeId })
            </td>
        </tr>
    }

</table>
