@model IEnumerable<Store.WEB.Models.ItemVM>

@{
    ViewBag.Title = "SelectItemToPurpose";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SelectItemToPurpose</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Select this one", "CreatePurpose", new { categoryId = Request.Params["categoryId"], itemId = item.Id }) 
        </td>
    </tr>
}

</table>
