@model Store.WEB.Models.OrderDetailsVM

<div>
    <h4>OrderDetailsVM</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.order.deliveryTypeID)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.order.statusID)
            </th>*@



        @*<th>
            @Html.DisplayNameFor(model => model.order.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.Number)
        </th>*@



        @*<th>
                @Html.DisplayNameFor(model => model.order.ContactId)
            </th>*@
    </tr>

    <tr><td><b>@Html.DisplayNameFor(model => model.order.data)</b></td><td>@Html.EditorFor(model => model.order.data)</td></tr>
    <tr><td><b>@Html.DisplayNameFor(model => model.order.Name)</b></td><td>@Html.EditorFor(model => model.order.Name)</td></tr>
    <tr><td><b>@Html.DisplayNameFor(model => model.order.Lname)</b></td><td>@Html.EditorFor(model => model.order.Lname)</td></tr>
    <tr><td><b>@Html.DisplayNameFor(model => model.order.Phone)</b></td><td>@Html.EditorFor(model => model.order.Phone)</td></tr>
    <tr><td><b>@Html.DisplayNameFor(model => model.order.Address)</b></td><td>@Html.EditorFor(model => model.order.Address)</td></tr>
    <tr><td><b>@Html.DisplayNameFor(model => model.order.email)</b></td><td>@Html.EditorFor(model => model.order.email)</td></tr>
    <tr><td><b>@Html.DisplayNameFor(model => model.order.Comment)</b></td><td>@Html.DisplayFor(model => model.order.Comment)</td></tr>
    <tr><td><b>@Html.DisplayNameFor(model => model.order.Status)</b></td><td>@Html.DisplayFor(model => model.order.Status)</td></tr>
    <tr><td><b>@Html.DisplayNameFor(model => model.order.Number)</b></td><td>@Html.DisplayFor(model => model.order.Number)</td></tr>

    <tr><td></br></td></tr>


        @*<td>
                @Html.DisplayFor(model => model.order.deliveryTypeID)
            </td>*@
        @*<td>
                @Html.DisplayFor(model => model.order.statusID)
            </td>*@



        @*<td>
            @Html.EditorFor(model => model.order.data)
        </td>
        <td>
            @Html.EditorFor(model => model.order.Name)
        </td>
        <td>
            @Html.EditorFor(model => model.order.Lname)
        </td>
        <td>
            @Html.EditorFor(model => model.order.Phone)
        </td>
        <td>
            @Html.EditorFor(model => model.order.Address)
        </td>
        <td>
            @Html.EditorFor(model => model.order.email)
        </td>
        <td>
            @Html.DisplayFor(model => model.order.Comment)
        </td>
        <td>
            @Html.DisplayFor(model => model.order.Status)
        </td>
        <td>
            @Html.DisplayFor(model => model.order.Number)
        </td>*@



        @*<td>
                @Html.DisplayFor(model => model.order.ContactId)
            </td>*@
    <tr>
        <td>
            <b>
                @Html.DisplayNameFor(Model => Model.orderItems.FirstOrDefault().BrandName)
            </b>
        </td>
        <td>
            <b>
                @Html.DisplayNameFor(Model => Model.orderItems.FirstOrDefault().ItemName)
            </b>
        </td>
        <td>
            <b>
                @Html.DisplayNameFor(Model => Model.orderItems.FirstOrDefault().IsPromo)
            </b>
        </td>
        <td>
            <b>
                @Html.DisplayNameFor(Model => Model.orderItems.FirstOrDefault().Price)
            </b>
        </td>
        <td>
            <b>
                @Html.DisplayNameFor(Model => Model.orderItems.FirstOrDefault().Currency)
            </b>
        </td>
        <td>
            <b>
                @Html.DisplayNameFor(Model => Model.orderItems.FirstOrDefault().Count)
            </b>
        </td>
    </tr>

    @foreach (var item in Model.orderItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            @*<td>
                    @Html.ActionLink("DeleteOne", "", new { purposeId = item.PurposeId })
                </td>*@
        </tr>
    }

</table>
